{% extends 'blog/base.html' %}


{% block content %}
    {% for post in pages %}

    <div class="post">
        <div class="date">
            {{ post.published_date }}
        </div>
        <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                                <p>{{ post.text|linebreaksbr }}</p>
        <a href="{% url 'post_detail' pk=post.pk %}">Comments:{{post.approved_comments.count}}</a>
                </div>
                {% if post.image %}
                <img src="{{post.image.url}}" alt="{{post.title}}" width="400" height="300" border="0"  />
                {% else %}
                <p>no image</p>
                {% endif %}
    {% endfor %}
    
    {% if pages.has_other_pages %}
                  <nav aria-label="Page navigation example">
                      <ul class="pagination">
                          {% if pages.has_previous %}
                              <li><a class="page-link text-primary d-inline-block" href="?page={{ pages.previous_page_number }}"><<</a></li>
                          {% else %}
                              <li class="disabled"><div class="page-link text-secondary d-inline-block disabled" href="#"><<</div></li>
                          {% endif %}
              
                          {% for page_num in pages.paginator.page_range %}

                              {% if page_num %}
                                  {% if page_num == pages.number %}
                                      <li class="disabled"><div class="page-link text-secondary d-inline-block disabled" href="#">{{ page_num }}</div></li>
                                  {% else %}
                                      <li><a class="page-link text-primary d-inline-block" href="?page={{ page_num }} ">{{page_num }}</a></li>
                                  {% endif %}
                              {% else %}
                                  <li class="disabled"><a class="page-link text-secondary d-inline-block text-muted" href="#">・・・</a></li>
                              {% endif %}
                          {% endfor %}
              
                          {% if pages.has_next %}
                              <li><a class="page-link text-primary d-inline-block" href="?page={{ pages.next_page_number }}">>></a></li>
                          {% else %}
                              <li class="disabled"><div class="page-link text-secondary d-inline-block disabled" href="#">>></div></li>
                          {% endif %}
                      </ul>
                  </nav>
    {% endif %}

{% endblock content %}
